{% extends 'base.html.twig' %}

{% block title %}Edit EventCategory{% endblock %}

{% block body %}
    <h1>Edit EventCategory</h1>

    {{ include('event_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_category_index') }}">back to list</a>

    {{ include('event_category/_delete_form.html.twig') }}
{% endblock %}
