{% extends 'base.html.twig' %}

{% block title %}New Job
{% endblock %}

{% block body %}
	<h1 class="mb-auto text-center font-italic Italica mt-5">Trabajo</h1>
	<div class="container mt-5">
		<div class="row d-flex justify-content-center">
			<div class="col-md-6">
				<div class="card shadow p-3 mb-5 bg-white rounded">
					<div class="card-body">
						{{ include('job/_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="{{ path('app_job_index') }}">back to list</a>
{% endblock %}
