{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}



{% block body %}

{% block javascripts %}
<script src='js/index.global.min.js'></script>
<script src='js/index.js' ></script>    
{% endblock %}

<div id="calendar"></div>

{% endblock %}
